.header {
    padding-top: var(--mantine-spacing-sm);
    background-color: light-dark(var(--mantine-color-rdfnyellow-2), var(--mantine-color-dark-8));
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-2), transparent);
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-weight: 500;
    font-size: var(--mantine-font-size-md);

    @media (max-width: mantine-breakpoint-sm) {
        height: rem(42px);
        width: 100%;
    }
}

.mainSection {
    padding-bottom: var(--mantine-spacing-sm);
}

.logo {
    max-width: 250px;
}

.user {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: 50px;
    transition: background-color 100ms ease;

    &:hover {
        background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
    }

    @media (max-width: mantine-breakpoint-xs) {
        display: none;
    }
}

.userActive {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

.tabsList {
    &::before {
        display: none;
    }
}

.tabsList .tab {
    font-weight: 500;
    height: rem(38);
    background-color: transparent;
    position: relative;
    bottom: -1px;
    font-size: var(--mantine-font-size-md);

    &::before,
    &::after {
        background-color: light-dark(var(--mantine-color-gray-2),
                var(--mantine-color-dark-7)) !important;
    }

    &:hover {
        background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
    }

    &[data-active] {
        background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
        border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-7));
        border-bottom-color: transparent;
    }
}

.menuItems {
    font-family: 'Roboto-Light', 'Roboto';
    font-size: var(--mantine-font-size-md);
    font-weight: normal;
}